


p {
    color :lightsalmon;
}

/**

esto es un comentario dentro de una hoja de css


*/


h1 {
    font-weight: bold;
    color:coral
}


.estaesmiclase {
    font-weight: bold;
    color:darkred
}